body {
    /* background: url('http://cdn.zephyr.azubu.tv.s3.amazonaws.com/cms/uploads/7/27-lock-bg2.jpg') no-repeat center center fixed; */
    background: url('http://cdn.zephyr.azubu.tv.s3.amazonaws.com/cms/uploads/7/27-lock-bg2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 40px 0 40px 0;
}

header {
    margin: 40px 0 0 0;
}

#logo { padding: 40px 0; }
#logo img {
    width: 200px
}

section {
    background: #e0e1e2;
    border: 1px solid rgba(0,0,0,.1);
    /* border-width: 0 1px; */
    margin-top: 30px;

    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
}

.team-name { height: 80px; margin-bottom: 20px; }
.team-name span {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #666;
    margin-left: 20px;
}

section .row {
    margin-top: 30px;
}


.row { margin: 0; }
.row div { text-align: center; font-family: 'Open Sans', sans-serif; color: #666;}
.about h3, .about p {
    text-align: left;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.about h3{
    padding: 0; margin: 0;
    font-weight: 300;
}
.player-name {
    display: block;
    margin: 10px 0;
}


div[class*='col-'] {
    margin-bottom: 25px;
}


#azubu-nav {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #000000;
    padding: 5px;
    z-index: 10;
}






#success_message {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0;
    color: #fff;
    background-color: #449d44;
    padding: 20px;
    z-index: 15;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
#success_message h1 {
    font-weight: 300;
    margin: 0;
}

#error_message {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0;
    color: #fff;
    background-color: #d9534f;
    padding: 20px;
    z-index: 15;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
#error_message h1 {
    font-weight: 300;
    margin: 0;
}


        #countdown {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            color: #fff;
            padding: 10px;
            font-size: 18px;
            display: none;
        }

        #lang-selector {
            position: fixed;
            top: 60px; right: 13px;
            z-index: 14
        }

        .video-container {

            padding: 15px;

        }
        .video {
            position: relative;
           /* padding-bottom: 56.25%;  16:9 */
            padding-bottom: 56%;
            padding-top: 25px;
            height: 0;
        }
        .video iframe, .video .video-js {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .img-center { margin: 0 auto; }

        .btn-default {
            background: #000;
            border-color: #111;
            color: #CCCCCC;
        }
        .btn-default:hover {
            background: #111;
            border-color: #111;
            color: #CCCCCC;
        }

        .btn-default.azubu {
            background: #009fd8;
            border-color: #111;
            color: #fff;
        }
        .btn-default.azubu:hover {
            background: #038bbc;
            border-color: #111;
            color: #fff;
        }

        .winner {
            color: #000;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
        }

        .winners, .ogn-video {
            display: none;
        }
        #winner-video {
            display: none;
        }

		.winner-button {
			text-transform: uppercase;
			outline: 0 !important;
		}
		.winner-button.active {
			font-weight: bold;
			background: #000;
			outline: 0 !important;
			/* border-color: #398439; */
		}
		/*
		.winner-button.active:after {
			color: #fff;
			font-size: 12px;
			content: ' (X)';
		} */
		
		.winners-header {
			background: url( 'http://prod-ogn.azubu.tv.s3.amazonaws.com/img/winners-bg.jpg' ) no-repeat;
			border-radius: 8px;
		}
			.winners-header-inner {
				padding: 15px;
			}
		
		.voting-wrapper {
			width: 100%;
			background: url( 'http://prod-ogn.azubu.tv.s3.amazonaws.com/img/pixel_faded_white.png' ) repeat;
			border-radius: 8px;
			margin-bottom: 30px;
		}
			.voting-wrapper-inner {
				padding: 15px;
			}
		
		
		.team-container {
			width: 100%;
			position: relative;
			margin-bottom: 5px;
		}
		.team-container:last-child {
			margin-bottom: 0;
		}
			a.team-header {
				text-decoration: none;
				position: relative;
				display: block;
				border-radius: 8px;
				font-size: 25px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 300;
				color: #fff;
				/*
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover; */
			}
			a.team-header.open {
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;				
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
			a.team-header:hover {
				text-decoration: none;
			}
				.team-header-inner {
					position: relative;
					padding: 8px 50px;
				}
			a.team-header img.team-logo {
				width: 70px;
			}
			
			a.team-header img.team-arrow {
				position: absolute;
				right: 40px;
				top: 50%;
				width: 35px;
				transform: translateY(-50%);
				transition: transform .5s;
			}
			a.team-header img.team-arrow.active {
				transform: rotate(180deg);
			}
			
			.team-players {
				background: #fff;
				padding: 15px 0 0 0;
				display: none;
			}
		
		
			.cj-entus         { background: url('http://prod-ogn.azubu.tv.s3.amazonaws.com/img/team_headers/cj_entus.jpg') no-repeat; }
			.ge-tigers        { background: url('http://prod-ogn.azubu.tv.s3.amazonaws.com/img/team_headers/ge_tigers.jpg') no-repeat; }
			.im               { background: url('http://prod-ogn.azubu.tv.s3.amazonaws.com/img/team_headers/im.jpg') no-repeat; }
			.jin-air          { background: url('http://prod-ogn.azubu.tv.s3.amazonaws.com/img/team_headers/jin_air.jpg') no-repeat; }
			.kt-rolster       { background: url('http://prod-ogn.azubu.tv.s3.amazonaws.com/img/team_headers/kt_rolster.jpg') no-repeat; }
			.najin            { background: url('http://prod-ogn.azubu.tv.s3.amazonaws.com/img/team_headers/najin.jpg') no-repeat; }
			.samsung-galaxy   { background: url('http://prod-ogn.azubu.tv.s3.amazonaws.com/img/team_headers/samsung_galaxy.jpg') no-repeat; }
			.skt              { background: url('http://prod-ogn.azubu.tv.s3.amazonaws.com/img/team_headers/skt.jpg') no-repeat; }






.featured-players, .featured-players h1, .featured-players h3 {

    font-family: 'Open Sans', sans-serif; 
    color: #fff !important;
    font-weight: 100;


}
		
.featured-players button { margin-top: 8px; }


.image-holder {

    position: relative;
}

.image-holder .background {
    background: #000;
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 5;
    width: 100%;
}

.image-holder .controls {

    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
    width: 100%;
}

.image-holder .controls div {
    margin: 0;
}


.fullscreen-player {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.8;
    z-index: 100;
    display: none;
}

.fullscreen-player-inner {
    position: fixed;
    top: 10px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    padding: 20px;
    z-index: 101; 
    display: none;
}

.fullscreen-player-video { 

    position: relative;
    padding-bottom: 54%;
    padding-top: 25px;
    z-index: 102; 
    display: none;

}

.fullscreen-player-video .video-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a.fullscreen-player-close-button {

    position: fixed;
    top: 10px;
    right: 10px;
    color: #fff;
    background: #000;
    font-size: 18px;
    padding:8px;
    z-index: 103;
    display: block;
    display: none;
}

a.fullscreen-player-close-button:hover{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}


.btn-link-text, .btn-link-text:hover {
    color: #fff;
    text-decoration: none;
    cursor: default;
    border: none;
    outline: none;
    background: #000;
}	